<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<%= name %>
			<br />
			<%= rating %>
			<img src=<%= rating_img_url %> />
			<br />
			<a href=<%= url %>>Website</a>
			<br />
			Phone: <%= display_phone %>
			<br />
			<img src=<%= image_url%> />
			<br />
			<%= display_address %>
			<br />
	</body>
</html>